[ng\:cloak],
[ng-cloak],
.ng-cloak {
  display: none !important;
}
body {
  background: #fff;
}
a {
  color: #26a69a;
}
a:hover {
  text-decoration: underline;
  color: #26a69a;
}
.toast-top-right {
  top: 12px !important;
  right: 12px !important;
}
.toast,
.toast-message {
  white-space: normal;
  word-break: normal;
}
.form-login {
  float: none !important;
  margin-right: auto;
  max-width: 500px;
}
.form-register {
  float: none !important;
  margin-right: auto;
  max-width: 500px;
}
.send-form-text input:not([type]),
.send-form-text input[type=text],
.send-form-text input[type=password],
.send-form-text input[type=email],
.send-form-text input[type=url],
.send-form-text input[type=time],
.send-form-text input[type=date],
.send-form-text input[type=datetime],
.send-form-text input[type=datetime-local],
.send-form-text input[type=tel],
.send-form-text input[type=number],
.send-form-text input[type=search],
.send-form-text textarea.materialize-textarea {
  border-bottom-color: #fff;
}
.send-form-text .input-field {
  float: none;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
header {
  padding-top: 10px;
}
header .link-logout {
  color: #26a69a;
}
.container {
  max-width: 1100px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.middle-text {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-style: italic;
}
.send-form-file {
  float: none !important;
  text-align: center;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.send-form-file .icon-container {
  font-size: 18px;
  border: 3px dashed;
  border-radius: 10px;
  padding: 50px;
}
.send-form-file .icon-container .material-icons {
  font-size: 80px;
}
send-form .dragover {
  background: #eee;
}
.device-list {
  padding-top: 10px;
}
.device-list .device {
  line-height: 1.5em;
  height: auto;
  padding: 25px;
  color: #000;
  background: #fff;
}
.device-list .device.active {
  cursor: default;
  background-color: #26a69a;
  color: #fff;
}
.device-list .device.active:hover {
  background-color: #26a69a;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
