  <div class="row" ng-show="$ctrl.notLoggedIn">
    <form class="col s12 m12 l8 form-login" ng-submit="$ctrl.submitLogin()">
		<div class="row">
			<div class="input-field col s12">
				  <input id="email" ng-model="$ctrl.email" type="email" class="validate">
				  <label for="email">Email</label>
		 	</div>
		</div>  
		<div class="row">
			<div class="input-field col s12">
				  <input id="password" ng-model="$ctrl.password" type="password" class="validate">
				  <label for="password">Password</label>
			</div>
		</div>
		<p>
			Not yet a user? Register <a href="/register">here</a>
		</p>
		<div class="row">
		 	<button class="btn waves-effect waves-light right" type="submit" name="action">Sign in
    			<i class="material-icons right">send</i>
  			</button>
		</div>
    </form>
  </div>